<h2 class="text-center mb-5">Modificar perfil</h2>
<form class="mb-5">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <label for="nombre" class="form-label font-weight-bold">Nombre</label>
      <input type="text" id="nombre" required [(ngModel)]="usuario.nombre" name="nombre" class="form-control bg-dark-x border-0" placeholder="Ingresa tu nombre">
    </div>
    <div class="col-lg-6 mb-4" *ngIf="esCliente">
      <label for="apellidos" class="form-label font-weight-bold">Apellidos</label>
      <input type="text" id="apellidos" required [(ngModel)]="this.apellidos" name="apellidos" class="form-control bg-dark-x border-0" placeholder="Ingresa tus apellidos">
    </div>
    <div class="col-lg-6 mb-4" *ngIf="!esCliente">
      <label for="cif" class="form-label font-weight-bold">Cif</label>
      <input type="text" id="cif" [(ngModel)]="cif" name="cif" class="form-control bg-dark-x border-0">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <label for="email" class="form-label font-weight-bold">Email</label>
      <input type="email" id="email" required [(ngModel)]="usuario.email" name="email" class="form-control bg-dark-x border-0" placeholder="Ingresa tu email" aria-describedby="emailHelp">
    </div>
    <div class="col-lg-6 mb-4">
      <label for="telefono" class="form-label font-weight-bold">Número de Teléfono</label>
      <input type="tel" id="telefono" [(ngModel)]="usuario.telefono" name="telefono" class="form-control bg-dark-x border-0" placeholder="Ingresa tu número de teléfono">
    </div>
    <div class="col-lg-6 mb-4" *ngIf="!esCliente">
      <label for="direccion" class="form-label font-weight-bold">Dirección</label>
      <input type="text" id="direccion" [(ngModel)]="direccion" name="direccion" class="form-control bg-dark-x border-0">
    </div>
    <div class="col-lg-6 mb-4" *ngIf="!esCliente">
      <label for="descripcion" class="form-label font-weight-bold">Descripción</label>
      <input type="text" id="descripcion" [(ngModel)]="web" name="descripcion" class="form-control bg-dark-x border-0">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <label for="emailRecuperacion" class="form-label font-weight-bold">Correo de Recuperación</label>
      <input type="email" id="emailRec" [(ngModel)]="usuario.emailRecuperacion" name="emailRec" class="form-control bg-dark-x border-0" placeholder="Ingresa tu correo de recuperación">
    </div>
    <div class="col-lg-6 mb-4">
      <label for="fechaNacimiento" class="form-label font-weight-bold">Fecha de Nacimiento</label>
      <input type="date" id="nacimiento" [(ngModel)]="this.fecha" name="nacimiento" class="form-control bg-dark-x border-0">
    </div>
  </div>
  <div class="col-lg-12 d-flex justify-content-center mt-3"> <!-- Se añaden las clases 'd-flex' y 'justify-content-center' para centrar el contenido -->
    <button class="btn btn-primary" (click)="guardar()">Guardar</button>
  </div>
</form>
