.alert {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
  
  .alert.fade-out {
    opacity: 0;
  }
  
  .alert.fade-out.ng-leave {
    opacity: 1;
  }
  
  .alert.fade-out.ng-leave-active {
    opacity: 0;
  }